<h2>UCF Public Events</h2>
<ul class="list-group">
	<li class="list-group-item" ng-repeat="event in events">
		<p class="lead"><a ng-href="{{ event.url }}" target="_blank">{{ event.title }}</a></p>
		<p ng-bind-html="event.description | unsafe"></p>
		<p><strong>Location</strong> <a ng-href="{{ event.location_url }}" target="_blank">{{ event.location }}</a><br>
		<strong>Contact</strong> 
		<strong>Name:</strong> {{ event.contact_name }} 
		<strong>Phone:</strong> {{ event.contact_phone }} 
		<strong>Email:</strong> {{ event.contact_email }}
		</p>
	</li>
</ul>