<div class="row">
	<div class="col-sm-12">
		<h1>Welcome, {{ firstname }}</h1>
		<hr>
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<p class="lead">Upcoming {{ university.name }} and RSO Events</p>
					</div>
					<ul class="list-group">
						<div ng-repeat="event in events">
							<li class="list-group-item">
								<p class="lead">{{ event.name }}</p>
								<p ng-bind-html="event.description | unsafe"></p>
								<p>
								<span ng-show="event.rso != null"><strong>Presenting RSO</strong> {{ event.rso }}<br></span>
								<strong>{{ event.visibility }} Event</strong><br>
								<strong>Location</strong> {{ event.location }}<br>
								<strong>Type</strong> {{ event.type }}<br>
								<strong>Contact</strong> 
								<strong>Phone:</strong> {{ event.contactphone }}<br>
								<strong>Email:</strong> {{ event.contactemail }}<br>
								<strong>Rating: </strong> {{ event.rating }}
								</p>
								<p class="lead">Comments</p>
								<table class="table table-hover" ng-show="event.comments">
									<tr ng-repeat="comment in event.comments">
										<td>
											<button class="pull-right clearfix btn btn-success btn-sm" ng-show="comment.userid == userid">Edit</button>
											<p><strong>{{ comment.name }}</strong> @ {{ comment.created | date:'short':'UTC' }}<br>
											{{ comment.body }}</p>
										</td>
									</tr>
								</table>
								<form ng-submit="addComment(comment, event)" class="form">
									<div class="form-group">
										<label for="rating" class="label-control">Rating</label>
										<select ng-model="comment.rating" id="rating" class="form-control" ng-options="rating.display for rating in ratings"></select>
									</div>
									<div class="form-group">
										<label for="comment" class="label-control">Comment</label>
										<input ng-model="comment.body" id="comment" type="text" class="form-control">
									</div>
									<input type="submit" value="Add Comment" class="btn btn-primary">
								</form>
							</li>
						</div>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<student-rsos></student-rsos>
						<hr>
						<button class="btn btn-warning btn-block btn-sm" data-toggle="modal" data-target="#propose">Propose New RSO</button>
					</div>
				</div>
				<available-rsos></available-rsos>
			</div>
		</div>
	</div>
</div>
<!-- Modal for proposal -->
<div class="modal fade" id="propose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">New RSO Proposal</h4>
			</div>
			<div class="modal-body">
				<rsorequest></rsorequest>	
			</div>
		</div>
	</div>
</div>
