<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- <google-maps></google-maps>	 -->
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="lead">Filter Events</p>
				<form class="form">
					<div class="form-group" ng-submit="updateFilter(filter)">
						<label for="university" class="label-control">University</label>
						<!-- <div class="col-sm-12"> -->
							<select id="role" ng-model="filter.university" class="form-control" ng-options="university.name for university in universities">
							</select>
						<!-- </div> -->
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="event in events">
				<p class="lead">{{ event.name }}</p>
				<p ng-bind-html="event.description | unsafe"></p>
				<p>
				<strong>University</strong> {{ event.university }}<br>
				<span ng-show="event.rso != null"><strong>Presenting RSO</strong> {{ event.rso }}<br></span>
				<strong>Location</strong> {{ event.location }}<br>
				<strong>Type</strong> {{ event.type }}<br>
				<strong>Contact</strong> 
				<strong>Phone:</strong> {{ event.contactphone }}<br>
				<strong>Email:</strong> {{ event.contactemail }}<br>
				</p>
			</li>
		</ul>
	</div>
</div>
